@model OokpMVC.Models.AdminModel
@{
    ViewBag.Title = "Реєстрація";
}

<div class="row my-4 mb-5">
    <div class="col-md-6 offset-md-3 shadow-lg border border-primary bg-white rounded px-4">
        <div class="mt-4 mb-2 text-center">
            <h4>Реєстрація</h4>
        </div>
        <form method="post" action="">
            <div class="my-2">
                <label>Логін:</label>
                <input class="form-control" id="LoginInput" name="Login" />
            </div>
            <div class="my-2">
                <label>Пароль:</label>
                <input class="form-control" id="PasswordInput" name="Password" />
            </div>
            <div class="my-2">
                <button type="submit" class="btn btn-success w-100 mt-3">
                    Зареєструватися&ensp;
                    <i class="bi-clipboard-check"></i>
                </button>
                <a href="/" class="btn btn-primary w-100 my-2" role="button">
                    Повернутися на сторінку входу&ensp;
                    <i class="bi-arrow-return-left"></i>
                </a>
            </div>
        </form>
    </div>
</div>

